# IDE artifacts
.vscode/*
!.vscode/extensions.json
!.vscode/*.template.json
.devcontainer

# Misc files to ignore
.DS_Store

# dotenv environment var files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/

# Eslint cache
.eslintcache

# Email testing related files
templates/*.handlebars.json

# Logs
logs
*.log
npm-debug.log